<div class="container">
  <div class="row">
    <!-- Lista pokoi -->
    <div class="col-sm-4">
      <div class="list-group">
        <h4>Wiadomości</h4>
        <div
          *ngFor="let room of rooms"
          class="list-group-item list-group-item-action mb-0 d-flex flex-column"
          (click)="selectRoom(room)">
          <h5 class="mb-1">{{ room.roomName }}</h5>
          <div class="d-flex justify-content-between align-items-center">
            <p class="mb-1">{{ room.lastMessage.content }}</p>
            <p class="mb-1 text-muted">
              {{ formatRoomDate(room.lastMessage.date) }}
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Wiadomości dla wybranego pokoju -->
    <div class="col-sm-8 chat-box" *ngIf="selectedRoom">

      <h5>{{ selectedRoom.roomName }}</h5>
      <div class="messages-container">
        <div
          class="message-item"
          *ngFor="let message of messages"
          [ngClass]="{ 'from-user': message.isFromUser, 'to-user': !message.isFromUser }">
          <div class="message-content">
            <p>{{ message.content }}</p>
            <span class="message-timestamp">{{ message.date | date:'short' }}</span>
          </div>
        </div>
      </div>

      <form (submit)="sendMessage()" class="message-form">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="newMessage"
            placeholder="Napisz wiadomość..."
            name="message"
            required>
          <button class="btn btn-primary" type="submit">Wyślij</button>
        </div>
      </form>

    </div>
  </div>
</div>
