<div class="login">
  <form class="form-signin">
    <img src="/logo.png" alt="logo">
    <input type="userName" id="inputEmail" class="form-control" placeholder="Login" name="userName"
           [(ngModel)]="userName" required autofocus>
    <input type="password" id="inputPassword" class="form-control" placeholder="Hasło" name="password"
           [(ngModel)]="password" required autofocus>
    <button class="btn btn-primary w-100" type="submit" (click)="login()">Zaloguj się</button>
  </form>
</div>
